
*{
  font-family: 'Roboto', sans-serif;
}

@media print {
  * {
      font-family: 'sans-serif', 'Verdana'
  }
  table.botonera {
    display: none !important;
  }
  .visualemp > tbody > tr > td:last-child, .visualemp > thead > tr > th:last-child,
  .visualemp > tbody > tr > td:first-child, .visualemp > thead > tr > th:first-child  {
      display: none !important;
  }
  .visualemp {
      border: solid 1px blue;
  }
  .visualemp > tbody > tr > td, .visualemp > thead > tr > th {
      padding: 5px 10px;
      text-align: center;
  }
}






.botonera{
  position: relative;
  top:20%;
  
}


.btndelete{
   border-color: transparent;
   background-color: transparent;
  }
.btnupdate{
    border-color: transparent;
   background-color: transparent;
    
}

footer{
  width:100% ;
  height: 100px;
 }

section{

    width: 100%;
    height: 400px;

}


.visualemp th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 40px;
  }

.visualemp th {
  background-color:rgb(88, 185, 241); 
}
 

.visualemp{
    border-spacing: 40px;
    border-radius: 10px;
    height: 250px;
    width: 80%;
    overflow: hidden;
    background-color: rgb(255, 248, 248);
}


.botons{
  
  width: 150px;
  padding: 8px;
  background: #f17108;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  border-color: transparent;

  /*
    
    top: 0;
    right: 0;
    height: 34px;
    width: 150px;
    font-size: 14px;
    color: rgb(250, 250, 250);
    text-align: center;
    line-height: 4px;
    border-width: 0;
    background-color:  rgb(88, 185, 241);
    -webkit-border-radius: 0px 15px 15px;
    -moz-border-radius: 0px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
*/
}



#search-box {
    position: relative;
    width: 30%;
    margin: 0;
    padding-left: 4px;
    text-align: center;
    
    }
    #search-form {
    height: 32px;
    border: 1px solid rgb(88, 185, 241);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    overflow: hidden;
    }
    #searchTerm{
    font-size: 14px;
    color: #020202;
    border-width: 0;
    background: transparent;
    }
    
    #search-box input[type="text"] {
    width: 90%;
    padding: 8px 0 12px 1em;
    color: #333;
    outline: none;
    }
    #search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 50px;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 4px;
    border-width: 0;
    background-color:  rgb(88, 185, 241);
    -webkit-border-radius: 0px 15px 15px;
    -moz-border-radius: 0px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    }

    /* Formateamos el label que servirá de contenedor */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
  margin-top: 3px;
}
 
/* Ocultamos el checkbox html */
.switch input {
  display:none;
}
 
/* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #15ff00;
  -webkit-transition: .4s;
  transition: .4s;
}
 


/* Pintamos la perilla de control o slider usando el selector before */
.slider::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
 
/* Cambiamos el color de fondo cuando el checkbox esta activado */
input:checked + .slider {
  background-color:   #4c00ff;
}
 
/* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
 
/* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
.slider.round {
  border-radius: 34px;
}
 
.slider.round:before {
  border-radius: 50%;
}


@media print {
  @page {
    margin-left: 0.8in;
    margin-right: 0.8in;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.texto {
 text-align: justify;
   text-justify:inter-word;
}

 