*{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.botonera{
  position: relative;
  margin-top: 1%;
 text-align: left;
}

.botonera tr, th{
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 30px;
}

.botons{
  height: 35px;
  width: 150px;
  background: #f17108;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  border-color: transparent;

}

.btnupdate{
  border-color: transparent;
  background: rgb(63, 92, 255);
  float: left;
  
}

.form1{
width: 40%;
margin: 0%;
float: left;
}
.form2{
width: 40%;
margin: 0%;
float: right;
}


/* Formateamos el label que servirá de contenedor */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
  margin-top: 3px;
}
 
/* Ocultamos el checkbox html */
.switch input {
  display:none;
}
 
/* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0000 ;
  -webkit-transition: .4s;
  transition: .4s;
}
 


/* Pintamos la perilla de control o slider usando el selector before */
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
 
/* Cambiamos el color de fondo cuando el checkbox esta activado */
input:checked + .slider {
  background-color:   #1eff00;
}
 
/* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
 
/* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
.slider.round {
  border-radius: 34px;
}
 
.slider.round:before {
  border-radius: 50%;
}


.texto {
 text-align: justify;
   text-justify:inter-word;
}






/*CONFIGURACION PARA IMPRESION*/
@media print {
  #botonera {display:none;}
  #proveInactivos_filter{display:none;}
  #proveInactivos_paginate{display:none;}
  #proveInactivos_length{display:none;}
  #proveInactivos_info{display:none;}
  #proveInactivos_opciones{display:none;}
  
  #produActivos_desactivar{display:none;}
  #produActivos_modificar{display:none;}
  #proveActivos_conteo{display:none;}

  }